*{
    box-sizing: border-box;
}
@font-face{
  
    font-family: 'passion-one-normal';
    src: url('../fonts/PassionOne-Regular.ttf');
}
body{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-family: passion-one-normal, sans-serif;
    font-weight: bold;
}

#nav{
  
    background-color: black;
    padding-top: 20px;
    padding-bottom: 25px;

}

.home{
    margin: 0;
    padding-right: 2%;
    padding-left: 2%;
}

.navbar-brand{ /*brand name*/
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    font-size: 2rem;
}
@media (min-width:992px) { /*brand name larger view*/
    .home{
        padding-left: 10%;
        padding-right: 10%;
    }
}

.navbar-brand:hover{
    color: white;
}
.navbar-brand:active{
    color: white;
}
.navbar-brand:visited{
    color: white;
}
.navbar-brand:link{
    color: white;
}

.navbar-nav a{
    
    color: white;
    letter-spacing: 3px;
    font-size: 1rem;
}
.navbar-nav a:hover {
    background-color: rgb(106, 43, 43);
    color: #ffffff;
}
.navbar-nav a:active{
    color: #ffffff;
}
.navbar-nav a:visited{
    color: #ffffff;
}
.navbar-nav a:link{
    color: #ffffff;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    
}
.navbar-toggler{
    padding-right: 0px;
}
.maindiv{
    width: 70%;
    height: 400px;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-size: 100% 100%;
}

/*Home page*/
.container{
    position: relative;
    margin: 0px auto;
    max-width: inherit;
    padding-bottom: 25px;
}
.slider-wrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    
}
.slider{
    display: flex;
    aspect-ratio: 25/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 100%, 0.25); 
    border-radius: 0.5rem;
  
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    background-image: url("../images/1small.jpg"), url("../images/2small.jpg"), url("../images/3small.jpg");
    animation-name: slide;
    object-fit: cover;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.slider img:click{
    animation-play-state: paused;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%; 
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250rem;
}

@keyframes slide{
    30%{
        transform: translateX(-100%);
    }
    60% {
        transform: translateX(-200%);
    }
}

/*Tiles*/
#home-tiles{
   padding-right: 12px; 
   padding-left: 12px;   
}
#menu-tile, #map-tile{
    height: 175px;
    width: 100%;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 25px;
}
#map-tile{
    height: 250px;
}
#menu-tile:hover, #map-tile:hover{
    box-shadow:0 1px 5px 1px #cccccc
}
#menu-tile{
  
    background-position: center;
}
.cat1{
    background-image: url("../images/burgers.jpg");
}
.cat2{
    background-image: url("../images/indian.jpg");
}
.cat3{
    background-image: url("../images/chinese.jpg");
}
.cat4{
    background-image: url("../images/salad.jpg");
}
.cat5{
    background-image: url("../images/desserts.jpg");
}
.cat6{
    background-image: url("../images/beverages.jpg");
}

#menu-tile span, #map-tile span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-family: passion-one-normal, sans-serif;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #000;
    color: #fff;
    opacity: 0.8;
}
@font-face{
    font-family: 'passion-one-bold';
    src: url('../fonts/PassionOne-Bold.ttf');
}
.categories-head h1{
    text-align: center;
    color: #fff;
    font-family: passion-one-bold, sans-serif;
    /* font-weight: 300; */
    padding-bottom: 25px;
    position: relative;
}
.categories-head h1::before{
    content: "";
    display: block;
    width: 34%;
    height: 2px;
    background: rgb(253, 29, 29);
    position: absolute;
    left:0;
    top: 30%;
}
.categories-head h1::after{
    content: "";
    display: block;
    width: 34%;
    height: 2px;
    background: rgb(253, 29, 29);
    position: absolute;
    right: 0;
    top: 30%;
}
.location-head h1{
    text-align: center;
    color: #fff;
    font-family: passion-one-bold, sans-serif;
    /* font-weight: 300; */
    padding-bottom: 25px;
    position: relative;
}
.location-head h1::before{
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background: rgb(253, 29, 29);
    position: absolute;
    left: 12px;
    top: 30%;
}
.location-head h1::after{
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background: rgb(253, 29, 29);
    position: absolute;
    right: 12px;
    top: 30%;
}
@media (max-width: 570px){
    
    .row{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 35%;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }
  
    #map-tile{
        height: 150px;
    }

    #menu-tile{
        height: 100px;
    }

    .cat1{
        background-image: url("../images/burgers-xs.jpg");
    }
    .cat2{
        background-image: url("../images/indian-xs.jpg");
    }
    .cat3{
        background-image: url("../images/chinese-xs.jpg");
    }
    .cat4{
        background-image: url("../images/salad-xs.jpg");
    }
    .cat5{
        background-image: url("../images/desserts-xs.jpg");
    }
    .cat6{
        background-image: url("../images/beverages-xs.jpg");
    }

    .categories-head h1{
        text-align: center;
        color: #fff;
        font-family: passion-one-bold, sans-serif;
        /* font-weight: 300; */
        padding-bottom: 25px;
        position: relative;
        font-size: 1.5rem;
    }
    .categories-head h1::before{
        content: "";
        display: block;
        width: 24%;
        height: 2px;
        background: rgb(253, 29, 29);
        position: absolute;
        left:12px;
        top: 25%;
    }
    .categories-head h1::after{
        content: "";
        display: block;
        width: 24%;
        height: 2px;
        background: rgb(253, 29, 29);
        position: absolute;
        right: 12px;
        top: 25%;
    }
    .location-head h1{
        text-align: center;
        color: #fff;
        font-family: passion-one-bold, sans-serif;
        /* font-weight: 300; */
        padding-bottom: 25px;
        position: relative;
        font-size: 1.5rem;
    }
    .location-head h1::before{
        content: "";
        display: block;
        width: 34%;
        height: 2px;
        background: rgb(253, 29, 29);
        position: absolute;
        left: 12px;
        top: 25%;
    }
    .location-head h1::after{
        content: "";
        display: block;
        width: 34%;
        height: 2px;
        background: rgb(253, 29, 29);
        position: absolute;
        right: 12px;
        top: 25%;
    }
    
}

/*Home page end*/


